* {
    margin: 0; /* Убирает отступы по умолчанию у всех элементов */
    padding: 0; /* Убирает внутренние отступы по умолчанию у всех элементов */
    box-sizing: border-box; /* Устанавливает модель коробки, чтобы ширина и высота включали отступы и границы */
    font-family: 'Poppins', sans-serif; /* Устанавливает шрифт Poppins для всех элементов, с запасным шрифтом sans-serif */
}

body {
    height: 100vh; /* Устанавливает высоту тела страницы на 100% высоты видимой области окна */
    background: linear-gradient(135deg, #4fc3f7, #1976b2); /* Устанавливает фоновый градиент с углом 135 градусов от светло-голубого к темно-голубому */
}

.wrapper {
    width: 90%; /* Устанавливает ширину обертки на 90% от родительского элемента */
    max-width: 34.37em; /* Устанавливает максимальную ширину обертки на 34.37em */
    max-height: 90vh; /* Устанавливает максимальную высоту обертки на 90% высоты видимой области окна */
    background-color: #fff; /* Устанавливает белый цвет фона для обертки */
    position: absolute; /* Устанавливает абсолютное позиционирование для обертки */
    transform: translate(-50%, -50%); /* Центрирует обертку по горизонтали и вертикали */
    top: 50%; /* Устанавливает верхнюю границу обертки на 50% высоты родительского элемента */
    left: 50%; /* Устанавливает левую границу обертки на 50% ширины родительского элемента */
    padding: 3em; /* Устанавливает внутренние отступы обертки на 3em */
    border-radius: 1em; /* Устанавливает радиус скругления углов обертки на 1em */
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2); /* Добавляет тень к обертке с заданными смещениями и цветом */
}

.container {
    position: relative; /* Устанавливает относительное позиционирование для контейнера */
    width: 100%; /* Устанавливает ширину контейнера на 100% от родительского элемента */
    height: 100%; /* Устанавливает высоту контейнера на 100% от родительского элемента */
}

#wheel {
    max-height: inherit; /* Устанавливает максимальную высоту элемента #wheel равной высоте родительского элемента */
    width: inherit; /* Устанавливает ширину элемента #wheel равной ширине родительского элемента */
    top: 0; /* Устанавливает верхнюю границу элемента #wheel на 0 (по умолчанию) */
    padding: 0; /* Убирает внутренние отступы у элемента #wheel */
}

#spin-btn {
    position: absolute; /* Устанавливает абсолютное позиционирование для кнопки #spin-btn */
    transform: translate(-50%, -50%); /* Центрирует кнопку по горизонтали и вертикали относительно своего положения */
    top: 50%; /* Устанавливает верхнюю границу кнопки на 50% высоты родительского элемента */
    left: 50%; /* Устанавливает левую границу кнопки на 50% ширины родительского элемента */
    height: 26%; /* Устанавливает высоту кнопки на 26% от высоты родительского элемента */
    width: 26%; /* Устанавливает ширину кнопки на 26% от ширины родительского элемента */
    border-radius: 50%; /* Устанавливает радиус скругления углов кнопки на 50%, делая её круглой */
    cursor: pointer; /* Изменяет курсор на указатель при наведении на кнопку */
    border: none; /* Убирает границу у кнопки */
    background: radial-gradient(#4caf50 50%, #1b5e20 85%); /* Устанавливает радиальный градиент фона кнопки от светло-зеленого к темно-зеленому */
    color: #33691e; /* Устанавливает цвет текста кнопки на темно-зеленый */
    text-transform: uppercase; /* Преобразует текст кнопки в верхний регистр */
    font-size: 1.8em; /* Устанавливает размер шрифта текста кнопки на 1.8em */
    letter-spacing: 0.1em; /* Устанавливает расстояние между буквами текста кнопки на 0.1em */
    font-weight: 600; /* Устанавливает жирность шрифта текста кнопки на 600 (полужирный) */
}

img {
    position: absolute; /* Устанавливает абсолютное позиционирование для изображения */
    width: 4em; /* Устанавливает ширину изображения на 4em */
    top: 45%; /* Устанавливает верхнюю границу изображения на 45% высоты родительского элемента */
    right: -8%; /* Устанавливает правую границу изображения на -8% от ширины родительского элемента, сдвигая его вправо */
}

#final-value {
    font-size: 1.5em; /* Устанавливает размер шрифта для элемента #final-value на 1.5em */
    text-align: center; /* Выравнивает текст по центру внутри элемента #final-value */
    margin-top: 1.5em; /* Устанавливает верхний отступ для элемента #final-value на 1.5em */
    color: #202020; /* Устанавливает цвет текста для элемента #final-value на темно-серый */
    font-weight: 500; /* Устанавливает жирность шрифта для текста элемента #final-value на 500 (полужирный) */
}

@keyframes rotate {
    100% { /* Определяет ключевой кадр анимации с 0% до 100% */
        transform: rotate(360deg); /* Вращает элемент на 360 градусов */
    }
}

@media screen and (max-width: 768px) { /* Начинает медиазапрос для экранов с максимальной шириной 768 пикселей */

    .wrapper {
        font-size: 12px; /* Устанавливает размер шрифта для элемента .wrapper на 12px для мобильных устройств */
    }

    img {
        right: -5%; /* Устанавливает правую границу изображения на -5% от ширины родительского элемента для мобильных устройств */
    }

}